<h2><%= page_title %></h2>


<% if @driver.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

     <ul>
     <% @driverer.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>


<main class="form">
  <%= form_for @driver do |f| %>

  <div class="form-fields">
    <%= f.label "Name: "   %>
    <%= f.text_field :name %>
  </div>

  <div class="form-fields">
    <%= f.label "Vin: " %>
    <%= f.text_field :vin %>
  </div>
</br>

 <%= button_tag 'Clear Fields', :type => 'reset', class: "form-fields" %>

  <%= f.submit class: "form-fields", class: "submit-button" %>

  <%end%>

</main>
