<h2>Driver</h2>

<section >

  <p>Name: <%= @driver.name%> </p>
  <p>Vin: <%= @driver.vin %></p>
  <p>Total Earnings: $ <%= @driver.earnings.round(2) %></p>
  <p>Average Rating: ✨ <%= @driver.average_rating.round(1) %></p>

  <ul class="edit-options">
    <li>
      <%= button_to "Edit Driver", edit_driver_path,
      method: :get %>
    </li>
    <li>
      <%= button_to (@driver.deactivated) ? "Activate Account" : "Deactivate Driver Account", driver_path(@driver.id), method: :p, data: { confirm: "Are you sure?" } %>
    </li>
  </ul>

  <% @driver.trips.each do |trip| %>

  <%= link_to "Trip Details", trip_path(trip[:id]) %> Date: <%=trip.date%>  |   Passenger: <%= link_to trip.passenger.name, passenger_path(trip.passenger[:id]) %>  |   Earned: $<%=(((trip.cost/100.00) - 1.65) * 0.8).round(2)%>  | Rating: <%= trip.rating %>
  <br>
  <% end %>


</section>
